body {
  font-family: Verdana, Geneva, sans-serif;
  width: 75%;
  margin: 0 auto;
}

nav ul li {
  /* display:inline-block; */
  /* float: left; */
}

nav ul {
  /* font-size: 0; */
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  height: 60px;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 20px;
  background-color: red;
  font-size: 16px;

}
nav ul li a:hover {
  color: red;
  background-color: white;
}

header h1 {
  margin: 20px 0 40px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.artSec {
  display: flex;
  max-height: 100px;
}

article {
  margin-bottom: 40px;
}

.over {
  overflow: auto;
  height: 68px;
}

.img1 {
  width: 100%;
}
