body {
 height: 200vh;
}

.wrapper {
    max-width: 1920px;
    min-width: 1024px;
    margin: 0 auto;
}

.inner_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu ul {
    display: flex;
}

.menu ul li {
    padding: 10px;
}

.menbar {
  position: relative;
}

.dropdown {
  visibility: hidden;
  position: absolute;
  flex-direction: column;

  top:36px;
}
.menbar:hover  .dropdown{
  visibility: visible;
}

.stickyHeader{
  position: fixed;
  top: 0;
  background-color: red;
  width: 100%;

}
